body{
    background-color: #dddddd;
    justify-content: center;
}

p{
	font-size: 30px;
}


.header{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: black;
    text-align: right;
    z-index: 10;
   	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


#username {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.header_username{
	font-size: 20px;
	margin-top: 20px;
	text-align:  right;
	float: left;
	margin-left: 10px;
	color: white;
}

.logout_button{
	font-size: 20px;
	margin-top: 20px;
	text-align:  right;
	float: right;
	margin-right: 10px;
	color: lightgrey;
}


.footer{
 	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	high:  60px;
	background-color: #343a40;
	color: white;
	text-align: center;
	margin-top: 100%;
 }

#logout-button{
	color: #ffcc00;
}


.navigation {
  width: 100%;
  background-color: #ffcc00;
}


.logout {
  	font-size: 10px;
  	font-family: 'Oswald', sans-serif;
	position: relative;
  	right: 0px;
  	bottom: -8px;
  	overflow: hidden;
  	opacity: 0;
  	transition: opacity .45s;
  	-webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: right;
  	padding: 12px;
  	margin: 5px;
  	color: white;
  	width: 40px;
  	background-color: #ffcc00;
  	transition: width .35s;
  	-webkit-transition: width .35s;
  	overflow: hidden
}

a { 
	color: white;
   	text-decoration: none;
 } 

a:hover {
  	width: 100px;
  	color: white;
  	text-decoration: none;

}

a:hover .logout{
  	opacity: .9;
  	color: black;
    text-decoration: none;
}

img {
  width: 25px;
  float: left;
}


.header_username: hover{
	color: white;
}


.all_wishes{
	width: 80%;
	margin-left: 10%;
	height: 80%;
    float:left; 
    margin: 80px 15px 15px 50px; 
    z-index: 0;
   	font-size: 20px;
    background-color: #dddddd;

}

.wish{
	margin-top: 30px;
	background-color: white;
	width: 400px;
	height: 100px;
   	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    margin-left: 30px;
    font-size: 30px
}

.reserve_button_wrapper{
	width: 150px;
	height: 30px;
	background-color: red;
    margin: 4px 9px;
    padding: 7px 11px;
   	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 15px;
	background-color: lightgreen;
	cursor: pointer;
}

.delete_button_wrapper{
	width: 150px;
	height: 30px;
	background-color: red;
    margin: 4px 9px;
    padding: 7px 11px;
   	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 15px;
	background-color: red;
	cursor: pointer;
}

#wish_name{
	color: black;
	margin-left: 10px;
	margin-top: 10px;
}

#delete{
	margin-top: -15px;
}

#reserve{
	margin-top: -15px;
}

.footer{
 	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	high:  60px;
	background-color: #343a40;
	color: white;
	text-align: center;
	margin-top: 100%;
 }

 .create_button{
 	margin-top: 30px;
	background-color: white;
	width: 400px;
	height: 100px;
   	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    margin-left: 30px;
    font-size: 30px;
    color: black;
    text-align: center;
 }


 #create_button_text {
    color: black;
    margin-bottom: 10px;
 }

#home{
	width: 30px;
	height: 30px;
	z-index: 11;
}

.home_page_redirect{
	height: 30px;
	width: 30px;
	float:  left;
	margin-top: 20px;
	z-index: 12;
	cursor: pointer;
}


.reserve_button_wrapper:active {
	transform: 	translate(1px, 1px);

   	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.delete_button_wrapper:active {
	transform: translate(1px, 1px);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
