{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/users_wishlists_style.css' %}">
    </head> 
    <body>
        <div class="header">
            <div class="home_page_redirect" onclick="location.href='/wishes/'">
                <img src="{% static 'img/home_icon.png'%}" id="home">
            </div>
            {% if user.is_authenticated %}
                <div class="header_username">
                    <a href="/wishes/wishlist/{{user.id}}">{{user.username}}</a>
                </div>
            {% else %}
                <div class="navigation">

                    <a class="button" href='/auth/login'>

                    <img src="{% static 'img/login_icon.png' %}" style="width:35px">
                    <div class="logout" onclick="location.href='/auth/login'" style="font-size:15px;margin-top:-6px">LogIn</div>

                    </a>

                </div>
            {% endif %}
            {% if user.is_authenticated %}
                
            <div class="navigation">
              
                <a class="button" href='/auth/logout'>
                <img src="{% static 'css/logout_pic.png' %}">
                <div class="logout" onclick="location.href='/auth/logout'">LOGOUT</div>

                </a>
              
            </div>                  
            {% endif %}
        </div>
        <br><br>
        <div class="content">
            {% if user.is_authenticated %}
                {% for us in object_list %}
                    {% if us.id != user.id %}
                        <div onclick="location.href = '/wishes/wishlist/{{us.id}}'" class="wishlist" id="other_wishlists">
                            <div id="username"><p>{{ us }}`s</p></div><div id="username"><p>wishlist</p></div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="filler"></div>
                {% for user in object_list %}
                    <div onclick="location.href = '/wishes/wishlist/{{user.id}}'" class="wishlist" id="other_wishlists">
                        <div id="username"><p>{{ user }}`s</p></div><div id="username"><p>wishlist</p></div>
                    </div>
                {% endfor %}

            {% endif %}

            <br><br>
            <div class="additional_information" >More Coming Soon</div>
        </div>
        <div class="footer">Website developed by {company name}</div>
    </body>
</html>
