{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
    </head> 
    <body>
        <div class="form">
            <div class="login-form">
                <h2 class="Login-text">Please Sign In</h2>
                <form method='post' class="login-fields">
                    {% csrf_token %}
                    <p>
                        <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Login">
                    </p>
                    <p>
                        <input type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Password">
                    </p>
                    <div class="login-button-wrapper">
                        <button type='submit' class="login-button"><p class="text-in-button">Log in</p></button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>